ZOVRO_API_URL=https://zovro-api-final.onrender.com
ZOVRO_BUILD_CHANNEL=production
ONESIGNAL_APP_ID=2d595bd4-61a1-40f2-9e8d-02900ab6f367
ZOVRO_MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
